button {
    background-color: transparent;
    border: 3px solid#212121;
    border-radius: 20px;
    padding: 2em 1em;
}

button>a {
    font-size: 1.8em;
    color: #212121;
    text-decoration: none;
    font-style: oblique;
    font-weight: bold;
}

button:hover {
    background-color: #212121;
}

button:hover a {
    color: white;
}